<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dsong.ggsj.commune.service.mapper.FaqMapper">
    <select id="totalFaqCount" resultType="Integer" parameterType="FaqVO">
        SELECT COUNT(faq_id) AS faq_id
        FROM faq
        WHERE category = #{category}
        AND deleted_at IS NULL
    </select>

    <select id="selectFaqList" resultType="FaqVO" parameterType="FaqVO">
        SELECT faq_id
             , category
             , title
             , contents
             , writed_at
        FROM faq
        WHERE deleted_at IS NULL
            <if test="category != null">
                AND category = #{category}
            </if>
        ORDER BY writed_at DESC
            <if test="firstRecordIndex != null">
                LIMIT #{firstRecordIndex}, #{recordCountPerPage}
            </if>
    </select>

    <select id="selectFaq" resultType="FaqVO" parameterType="FaqVO">
        SELECT faq_id
             , category
             , title
             , contents
             , writed_at
        FROM faq
        WHERE faq_id = #{faqId}
    </select>

    <select id="selectUsFaqList" resultType="FaqVO">
        SELECT faq_id
             , category
             , title
             , contents
             , writed_at
        FROM faq
        WHERE deleted_at IS NULL
        ORDER BY writed_at DESC
    </select>

    <select id="selectCategory" resultType="FaqVO" parameterType="FaqVO">
        SELECT distinct category
        FROM faq
    </select>

    <insert id="insertFaq" parameterType="FaqVO">
        INSERT INTO faq
        ( faq_id
        , category
        , title
        , contents
        , writed_user_id
        , created_user_id
        , updated_user_id)
        VALUES ( #{faqId}
        , #{category}
        , #{title}
        , #{contents}
        , #{sessionUserId}
        , 0
        , 0)
        <selectKey keyProperty="faqId" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateFaq" parameterType="FaqVO">
        UPDATE faq
        SET category   = #{category}
          , title      = #{title}
          , contents   = #{contents}
          , writed_at  = NOW()
          , updated_at = NOW()
          , contents   = #{contents}
        WHERE faq_id = #{faqId}
    </update>

    <update id="deleteFaq" parameterType="FaqVO">
        UPDATE faq
        SET deleted_at      = NOW()
          , updated_user_id = #{sessionUserId}
        WHERE faq_id = #{faqId}
    </update>
</mapper>
