.main_section{margin: 0;}
.main_section .container{background:none; padding:50px 15px; padding-bottom: 0;}
.main_section .container .cont_area{height: auto;}
.main_section .container .cont_area > div{position: absolute; top:0; left: 0; width: 100%;}
.main_section .container .cont_area:after{content:""; clear:both; display:block; height:0; visibility:hidden; }

.main_section .container .cont_area > div{position: relative; display:none; visibility:hidden; opacity: 0; }
.main_section .container .cont_area > div.active{display:block; visibility:visible; opacity:1; }
.main_section .container .cont_area > .step03.active{display: flex;}

.main_section .cont_area .title_area{text-align: center; }
.main_section .cont_area .title h2{position: relative;}
.main_section .cont_area .title_area .back{position: absolute; top:50%; left:-80px; transform: translateY(-50%); cursor: pointer; display: flex; align-items: center; justify-content: center; font-size:15px; opacity: 0.6; transition:opacity 1s cubic-bezier(0.2, 0.9, 0.4, 1.1)}
.main_section .cont_area .title_area .back:hover{opacity:1;}

.main_section .cont_area .title_area .back i{margin-right:5px;}

 .main_section .certi_btn a{border:1px solid #27a3ac; border-radius:5px; cursor:pointer; display: flex; align-items: center; justify-content: center; color:#27a3ac; transition: all 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1); font-size:16px;
}

.main_section .certi_btn a:hover{background:#27a3ac; color:#fff;}

.step02 > .write{display: block; margin-bottom:30px;}
.step02 > .write:last-of-type{margin-bottom:0;}
.step02 > .write .select_list{display: none;}
.step02 > .write.active .select_list{display: block; margin-top:20px;}

.write{display: flex; margin-left:0; margin-right:0; width:100%;}
.write:after{content:""; clear: both; display: block; height:0; visibility:visible;}
.write > div{padding:0; position: relative;}
.select_list{width:100%;}


.chk_boxArea .item >  label{float:left;}
.certifi_box{margin-right: 10px;}



.main_section .container .cont_area > .step03{
    align-items: center; justify-content: center; flex-direction: column;}
.main_section .container .cont_area > .step03 .step03_area{ width:450px}
.noti_area{margin-top:30px; width:650px;}



@media(max-width:768px){
    .main_section .title_area{font-size:18px;}
    .main_section .main_section_close{width:30px; height: 30px; font-size:20px;}  .noti_area{width:100%;}
}
