<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sitebuilder.common.service.mapper.CommonMapper">
    <select id="selectCompanyList" resultType="CommonCompanyVO">
        SELECT C.company_id
        , C.company_code
        , C.company_name
        , C.business_no
        , C.id_placeholder
        , C.pw_type
        , C.no_use
        , C.use_noti_talk
        , CC.company_checkup_id
        , CC.checkup_year
        , CC.checkup_date_begin
        , CC.checkup_date_end
        , CC.reserve_date_begin
        , CC.reserve_date_end
        FROM company C
        <choose>
            <when test="listType == @kr.co.sitebuilder.common.ListType@ALL">
                LEFT JOIN company_checkup CC ON C.company_id = CC.company_id AND CC.deleted_at IS NULL
            </when>
            <when test="listType == @kr.co.sitebuilder.common.ListType@YEAR">
                JOIN company_checkup CC ON C.company_id = CC.company_id AND CC.checkup_year = #{year} AND CC.deleted_at
                IS NULL
            </when>
            <when test="listType == @kr.co.sitebuilder.common.ListType@LAST_ALL">
                LEFT JOIN (
                SELECT company_id
                , MAX(checkup_year) AS checkup_year
                FROM company_checkup
                WHERE deleted_at IS NULL
                GROUP BY company_id
                ) LAST_CC ON C.company_id = LAST_CC.company_id
                LEFT JOIN company_checkup CC ON LAST_CC.company_id = CC.company_id AND LAST_CC.checkup_year =
                CC.checkup_year
            </when>
            <when test="listType == @kr.co.sitebuilder.common.ListType@LAST">
                JOIN (
                SELECT company_id
                , MAX(checkup_year) AS checkup_year
                FROM company_checkup
                WHERE deleted_at IS NULL
                GROUP BY company_id
                ) LAST_CC ON C.company_id = LAST_CC.company_id
                JOIN company_checkup CC ON LAST_CC.company_id = CC.company_id AND LAST_CC.checkup_year = CC.checkup_year
            </when>
        </choose>
        WHERE C.deleted_at IS NULL
        ORDER BY CC.checkup_year DESC, C.company_name
    </select>
</mapper>
