<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sitebuilder.manager.service.mapper.ManagerMapper">
    <resultMap id="mapManagerName" type="ManagerVO" autoMapping="true">
        <id property="userId" column="user_id"/>
        <result property="managerNameCrypt" column="manager_name"/>
    </resultMap>

    <resultMap id="mapPlatformManager" type="PlatformManagerVO" autoMapping="true">
        <id property="userId" column="user_id"/>
        <result property="platformManagerNameCrypt" column="platform_manager_name"/>
    </resultMap>

    <resultMap id="mapCompanyManager" type="CompanyManagerVO" autoMapping="true">
        <id property="userId" column="user_id"/>
        <result property="companyManagerNameCrypt" column="company_manager_name"/>
    </resultMap>

    <resultMap id="mapCenterManager" type="CenterManagerVO" autoMapping="true">
        <id property="userId" column="user_id"/>
        <result property="centerManagerNameCrypt" column="center_manager_name"/>
        <collection property="centerManagerCompany" ofType="CenterManagerCompanyVO" autoMapping="true"/>
    </resultMap>

    <resultMap id="mapCenterManagerCompany" type="CenterManagerCompanyVO" autoMapping="true">
        <id property="centerManagerCompanyId" column="center_manager_company_id"/>
        <collection property="centerManagerCompanies" ofType="CenterManagerCompanyVO" autoMapping="true">
            <result column="center_manager_company_id" property="centerManagerCompanyId"/>
        </collection>
    </resultMap>

    <select id="selectManagerList" resultMap="mapManagerName">
        SELECT 'PM'                     AS user_type
             , '嫄닿컯?댁옄'                   AS group_name
             , PM.platform_manager_code AS manager_code
             , sf_user_name(user_id)    AS manager_name
             , PM.mobile                AS mobile
             , PM.telephone             AS telephone
             , PM.email                 AS email
             , PM.sales                 AS sales
             , PM.admin                 AS admin
             , PM.executive             AS excutive
             , PM.outsales              AS outsales
             , 0                        AS result
             , 0                        AS contract
             , 0                        AS account
             , 0                        AS reserve
             , PM.user_id
             , PM.no_use
        FROM platform_manager PM
        WHERE PM.deleted_at IS NULL
        UNION ALL
        SELECT 'CM'                    AS user_type
             , CP.company_name         AS group_name
             , CM.company_manager_code AS manager_code
             , sf_user_name(user_id)   AS manager_name
             , CM.mobile               AS mobile
             , CM.telephone            AS telephone
             , CM.email                AS email
             , 0                       AS sales
             , 0                       AS admin
             , 0                       AS excutive
             , 0                       AS outsales
             , CM.result               AS result
             , CM.contract             AS contract
             , CM.account              AS account
             , 0                       AS reserve
             , CM.user_id
             , CM.no_use
        FROM company_manager CM
                 LEFT JOIN company CP
                           ON CM.company_id = CP.company_id AND CP.deleted_at IS NULL
        WHERE CM.deleted_at IS NULL
        UNION ALL
        SELECT 'HM'                                      AS user_type
             , hospital_center_view.hospital_center_name AS group_name
             , HM.center_manager_code                    AS manager_code
             , sf_user_name(user_id)                     AS manager_name
             , HM.mobile                                 AS mobile
             , HM.telephone                              AS telephone
             , HM.email                                  AS email
             , 0                                         AS sales
             , 0                                         AS admin
             , 0                                         AS excutive
             , 0                                         AS outsales
             , 0                                         AS result
             , 0                                         AS contract
             , 0                                         AS account
             , 0                                         AS reserve
             , HM.user_id
             , HM.no_use
        FROM center_manager HM
                 LEFT JOIN center C
                           ON HM.center_id = C.center_id AND C.deleted_at IS NULL
                 LEFT JOIN hospital H
                           ON C.hospital_id = H.hospital_id AND H.deleted_at IS NULL
                 JOIN hospital_center_view
                      ON hospital_center_view.center_id = HM.center_id
        WHERE HM.deleted_at IS NULL
    </select>

    <select id="selectCenterManager" resultMap="mapCenterManager" parameterType="CenterManagerVO">
        SELECT HM.user_id
             , H.hospital_id
             , HM.center_id
             , HM.center_manager_code
             , HM.center_manager_name
             , HM.no_use
             , HM.email
             , HM.telephone
             , HM.mobile
             , HM.notes
             , HM.notok_urge
        FROM center_manager HM
                     LEFT JOIN user U
                ON HM.user_id = U.user_id
                     LEFT JOIN center HC
                ON HC.center_id = HM.center_id
                     LEFT JOIN hospital H
                ON H.hospital_id = HC.hospital_id
        WHERE HM.deleted_at is NULL
          AND U.deleted_at is NULL
          AND U.user_type = 'HM'
          AND HM.user_id = #{userId}
    </select>

    <select id="selectPlatformManager" resultMap="mapPlatformManager" parameterType="PlatformManagerVO">
        SELECT U.user_id
             , PM.platform_manager_code
             , PM.platform_manager_name
             , PM.no_use
             , PM.sales
             , PM.admin
             , PM.executive
             , PM.outsales
             , PM.email
             , PM.telephone
             , PM.mobile
             , PM.notes
        FROM user U
                     LEFT JOIN platform_manager PM
                ON PM.user_id = U.user_id
        WHERE PM.deleted_at is NULL
          AND U.deleted_at is NULL
          AND U.user_type = 'PM'
          AND U.user_id = #{userId}
    </select>

    <select id="selectCompanyManager" resultMap="mapCompanyManager" parameterType="CompanyManagerVO">
        SELECT U.user_id
             , CM.company_id
             , CM.company_manager_code
             , CM.company_manager_name
             , CM.no_use
             , CM.contract
             , CM.result
             , CM.account
             , CM.email
             , CM.telephone
             , CM.mobile
             , CM.notes
        FROM user U
                     LEFT JOIN company_manager CM
                ON CM.user_id = U.user_id
        WHERE CM.deleted_at is NULL
          AND U.deleted_at is NULL
          AND U.user_type = 'CM'
          AND U.user_id = #{userId}
    </select>

    <select id="selectCenterManagerCompany" resultMap="mapCenterManagerCompany" parameterType="CenterManagerCompanyVO">
        SELECT C.company_name
             , CMC.contract
             , CMC.reserve
             , CMC.result
             , CMC.center_manager_company_id
             , CMC.company_id
             , CC.checkup_year
        FROM center_manager_company CMC
                     INNER JOIN company C
                ON C.company_id = CMC.company_id
                     INNER JOIN center_manager HM
                ON HM.user_id = CMC.user_id
                     INNER JOIN center HC
                ON HC.center_id = HM.center_id
                     INNER JOIN company_checkup CC ON C.company_id = CC.company_id AND CC.deleted_at IS NULL
        WHERE CMC.deleted_at is NULL
          AND C.deleted_at is NULL
          AND HM.deleted_at is NULL
          AND HC.deleted_at is NULL
          AND HM.user_id = #{userId}
    </select>

    <select id="centerManagerList" resultType="CenterManagerVO">
        SELECT HM.user_id
             , HM.center_id
             , hospital_center_view.center_name
             , hospital_center_view.hospital_name
             , hospital_center_view.hospital_center_name AS groupName
        FROM center_manager HM
                     JOIN hospital_center_view ON hospital_center_view.center_id = HM.center_id
        WHERE HM.deleted_at IS NULL
    </select>

    <insert id="insertCenterManager" parameterType="CenterManagerVO">
        INSERT INTO center_manager
        ( user_id
        , center_id
        , center_manager_code
        , center_manager_name
        , no_use
        , email
        , telephone
        , mobile
        , notes
        , notok_urge
        , created_user_id
        , updated_user_id)
        VALUES ( #{userId}
        , #{centerId}
        , #{centerManagerCode}
        , #{centerManagerNameCrypt}
        , #{noUse}
        , #{email}
        , #{telephone}
        , #{mobile}
        , #{notes}
        , #{notokUrge}
        , #{sessionUserId}
        , #{sessionUserId})
        <selectKey keyProperty="userId" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCompanyManager" parameterType="CompanyManagerVO">
        INSERT INTO company_manager
        ( user_id
        , company_id
        , company_manager_code
        , company_manager_name
        , no_use
        , contract
        , result
        , account
        , email
        , telephone
        , mobile
        , notes
        , created_user_id
        , updated_user_id)
        VALUES ( #{userId}
        , #{companyId}
        , #{companyManagerCode}
        , #{companyManagerNameCrypt}
        , #{noUse}
        , #{contract}
        , #{result}
        , #{account}
        , #{email}
        , #{telephone}
        , #{mobile}
        , #{notes}
        , #{sessionUserId}
        , #{sessionUserId})
        <selectKey keyProperty="userId" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertPlatformManager" parameterType="PlatformManagerVO">
        INSERT INTO platform_manager
        ( user_id
        , platform_manager_code
        , platform_manager_name
        , no_use
        , sales
        , admin
        , executive
        , outsales
        , email
        , telephone
        , mobile
        , notes
        , created_user_id
        , updated_user_id)
        VALUES ( #{userId}
        , #{platformManagerCode}
        , #{platformManagerNameCrypt}
        , #{noUse}
        , #{sales}
        , #{admin}
        , #{executive}
        , #{outsales}
        , #{email}
        , #{telephone}
        , #{mobile}
        , #{notes}
        , #{sessionUserId}
        , #{sessionUserId})
        <selectKey keyProperty="userId" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCenterManagerCompany" parameterType="CenterManagerCompanyVO">
        INSERT INTO center_manager_company
        ( user_id
        , company_id
        , contract
        , reserve
        , result
        , created_user_id
        , updated_user_id)
        VALUES ( #{userId}
        , #{companyId}
        , #{contract}
        , #{reserve}
        , #{result}
        , #{sessionUserId}
        , #{sessionUserId})
        ON DUPLICATE KEY UPDATE contract = VALUES(contract)
        , reserve = VALUES(reserve)
        , result = VALUES(result)
        , created_at = NOW()
        , created_user_id = VALUES(created_user_id)
        , updated_at = NOW()
        , updated_user_id = VALUES(updated_user_id)
        , deleted_at = NULL
        , deleted_user_id = NULL
        <selectKey keyProperty="centerManagerCompanyId" order="AFTER" resultType="Integer">
            SELECT center_manager_company_id
            FROM center_manager_company
            WHERE user_id = #{userId}
            AND company_id = #{companyId}
        </selectKey>
    </insert>

    <update id="updateCenterManager" parameterType="CenterManagerVO">
        UPDATE center_manager
        SET center_id           = #{centerId}
          , center_manager_code = #{centerManagerCode}
          , center_manager_name = #{centerManagerNameCrypt}
          , no_use              = #{noUse}
          , email               = #{email}
          , telephone           = #{telephone}
          , mobile              = #{mobile}
          , notes               = #{notes}
          , notok_urge          = #{notokUrge}
          , updated_at          = NOW()
          , updated_user_id     = #{sessionUserId}
        WHERE user_id = #{userId}
    </update>

    <update id="updateCompanyManager" parameterType="CompanyManagerVO">
        UPDATE company_manager
        SET company_id           = #{companyId}
          , company_manager_code = #{companyManagerCode}
          , company_manager_name = #{companyManagerNameCrypt}
          , no_use               = #{noUse}
          , contract             = #{contract}
          , result               = #{result}
          , account              = #{account}
          , email                = #{email}
          , telephone            = #{telephone}
          , mobile               = #{mobile}
          , notes                = #{notes}
          , updated_at           = NOW()
          , updated_user_id      = #{sessionUserId}
        WHERE user_id = #{userId}
    </update>

    <update id="updatePlatformManager" parameterType="PlatformManagerVO">
        UPDATE platform_manager
        SET platform_manager_code = #{platformManagerCode}
          , platform_manager_name = #{platformManagerNameCrypt}
          , no_use                = #{noUse}
          , sales                 = #{sales}
          , admin                 = #{admin}
          , executive             = #{executive}
          , outsales              = #{outsales}
          , email                 = #{email}
          , telephone             = #{telephone}
          , mobile                = #{mobile}
          , notes                 = #{notes}
        WHERE user_id = #{userId}
    </update>

    <update id="updateCenterManagerCompany" parameterType="CenterManagerCompanyVO">
        UPDATE center_manager_company
        SET company_id      = #{companyId}
          , contract        = #{contract}
          , reserve         = #{reserve}
          , result          = #{result}
          , updated_at      = NOW()
          , updated_user_id = #{sessionUserId}
        WHERE center_manager_company_id = #{centerManagerCompanyId}
    </update>

    <update id="deleteHospitalManager" parameterType="ManagerVO">
        UPDATE center_manager
        SET deleted_at      = NOW()
          , deleted_user_id = #{sessionUserId}
        WHERE user_id = #{userId}
    </update>

    <update id="deleteCompanyManager" parameterType="ManagerVO">
        UPDATE company_manager
        SET deleted_at      = NOW()
          , deleted_user_id = #{sessionUserId}
        WHERE user_id = #{userId}
    </update>

    <update id="deletePlatformManager" parameterType="ManagerVO">
        UPDATE platform_manager
        SET deleted_at      = NOW()
          , deleted_user_id = #{sessionUserId}
        WHERE user_id = #{userId}
    </update>

    <update id="deleteCenterManagerCompany" parameterType="CenterManagerCompanyVO">
        UPDATE center_manager_company
        SET deleted_at      = NOW()
          , deleted_user_id = #{sessionUserId}
        WHERE center_manager_company_id = #{centerManagerCompanyId}
    </update>

</mapper>
