.main_cont > .container > div{margin-bottom:45px;}
.main_cont > .container > div:last-of-type{margin-bottom: 0;}
.main_cont > .container .title_area{margin-bottom:40px; position: relative;}
.main_cont > .container .title_area .title{padding:0 15px;}
.main_cont > .container .title_area .title h2{font-size:22px;}

.agreement_area .all_check{margin-bottom:30px;}
.agreement_area .all_check .cbx-lbl{font-size:18px; margin-left:10px; border-bottom: 1px solid #000;}

.agreement_area .scroll_area{width:100%; height: 270px; overflow-y: auto; font-size: 15px; border:1px solid #d2d2d2}
.agreement_area .scroll_area .txt_area{padding:25px 20px;}
.agreement_area .scroll_area .txt_area a{display: inline-block; text-decoration: underline;}

.agreement_area .agreement{margin-bottom:30px}
.agreement_area .agreement:last-of-type{margin-bottom: 0;}
.agreement_area .agreement_txt{margin-top:7px; font-size: 15px;}
















