.main_section{padding-top:60px;}
.main_section .main_cont > .container{padding:100px 0;}
 
/*title*/
.main_section .main_cont > .title_area{text-align: center; margin-bottom: 40px;} 
.main_section .main_cont > .title_area h2{font-size:45px; line-height:45px; margin-bottom: 30px;}  
  
/*list*/
.main_section .main_cont .list{background:#f4f8f8; display: flex; align-items: center; justify-content: center; flex-direction: column; padding:40px; border-radius: 5px; transition:all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);}   
.main_section .main_cont .list:hover{box-shadow: 0px 15px 40px 0px rgba(237, 237, 237, 1); background: #fff;} 
.main_section .main_cont .list:hover .img_area{background:#f4f8f8}
 
/*list detail*/
.main_section .main_cont .list .title_area{margin-bottom:20px;} 
.main_section .main_cont .list .img_area{width: 150px; height: 150px; background: #fff; border-radius:100%; margin-bottom:15px; display: flex; align-items: center; justify-content: center; flex-direction: column; transition:all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);}  
.main_section .main_cont .btn{width: auto; margin-top:20px;}   
.main_section .main_cont .list .info_area{text-align: center;} 
 

    