<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dsong.ggsj.notitok.service.mapper.NotitokMapper">
    <resultMap id="mapNotitok" type="NotitokItemVO" autoMapping="true">
        <result property="employeeNameCrypt" column="employee_name"/>
        <result property="centerManagerNameCrypt" column="center_manager_name"/>
    </resultMap>

    <resultMap id="mapNotitokSent" type="NotitokUSSentVO" autoMapping="true">
        <result property="recvNameCrypt" column="recvName"/>
    </resultMap>

    <select id="selectUserExceptList" resultMap="mapNotitok">
        SELECT employee.user_id
        , employee.company_id
        , employee.employee_code
        , employee.employee_name
        , employee.no_use
        , employee.employee_no
        , IFNULL(employee.myself, 2) AS myself
        , employee.birth
        , employee.sex
        , employee.email
        , employee.mobile
        , employee.zipcode
        , employee.address1
        , employee.address2
        , employee.depart
        , employee.title
        , employee_checkup.notok_guide
        , employee_checkup.notok_reserve
        , employee_checkup.notok_urge
        , employee_checkup.notok_updated_at
        , employee_checkup.employee_checkup_id
        FROM employee_checkup
        JOIN employee ON employee_checkup.user_id = employee.user_id
        JOIN company_checkup ON employee_checkup.company_checkup_id = company_checkup.company_checkup_id
        JOIN company ON company_checkup.company_id = company.company_id AND company.deleted_at IS NULL
        WHERE employee_checkup.deleted_at IS NULL
        AND (employee_checkup.notok_urge != 0
        OR employee_checkup.notok_reserve != 0
        OR employee_checkup.notok_guide != 0)
        <if test="companyId != null">
            AND company_checkup.company_id = #{companyId}
            AND company_checkup.checkup_year = #{checkupYear}
        </if>
    </select>

    <select id="selectHmExceptList" resultMap="mapNotitok">
        SELECT H.hospital_name
        , C.center_name
        , HM.center_manager_code
        , sf_user_name(user_id) AS center_manager_name
        , HM.mobile
        , HM.telephone
        , HM.email
        , HM.user_id
        , HM.no_use
        , HM.notok_urge
        , HM.notok_updated_at
        FROM center_manager HM
        LEFT JOIN center C
        ON HM.center_id = C.center_id
        LEFT JOIN hospital H
        ON C.hospital_id = H.hospital_id
        WHERE HM.deleted_at IS NULL
        AND HM.notok_urge != 0
        <if test="hospitalId != null">
            AND H.hospital_id = #{hospitalId}
        </if>
        <if test="centerId != null">
            AND C.center_id = #{centerId}
        </if>
    </select>

    <select id="selectCheckupInfoList" resultMap="mapNotitok">
        # NotitokMapper.selectCheckupInfoList
        SELECT employee.user_id
             , employee.company_id
             , employee.employee_code
             , employee.employee_name
             , employee.no_use
             , employee.employee_no
             , IFNULL(employee.myself, 2)    AS myself
             , employee.birth
             , employee.sex
             , employee.email
             , employee.mobile
             , employee.zipcode
             , employee.address1
             , employee.address2
             , employee.depart
             , employee.title
             , employee_checkup.employee_checkup_id
             , employee_checkup.notok_guide  AS notok_guide
             , !employee_checkup.notok_guide AS check_guide
             , employee_checkup.notok_updated_at
        FROM employee_checkup
                     JOIN employee
                ON employee_checkup.user_id = employee.user_id AND employee.deleted_at IS NULL AND employee.no_use = 0
                     JOIN company_checkup
                ON employee_checkup.company_checkup_id = company_checkup.company_checkup_id AND
                   company_checkup.deleted_at IS NULL
                     JOIN company ON company_checkup.company_id = company.company_id AND company.deleted_at IS NULL
        WHERE employee_checkup.deleted_at IS NULL
          AND employee.mobile IS NOT NULL
          AND employee_checkup.support_type = 0
          AND employee.myself = 1
          AND company_checkup.company_checkup_id = #{companyCheckupId}
    </select>

    <select id="selectUrgeList" resultMap="mapNotitok">
        # NotitokMapper.selectUrgeList
        SELECT employee.user_id
             , employee.company_id
             , employee.employee_code
             , employee.employee_name
             , employee.no_use
             , employee.employee_no
             , IFNULL(employee.myself, 2)    AS myself
             , employee.birth
             , employee.sex
             , employee.email
             , employee.mobile
             , employee.zipcode
             , employee.address1
             , employee.address2
             , employee.depart
             , employee.title
             , employee_checkup.support_type
             , employee_checkup.employee_checkup_id
             , employee_checkup.notok_urge  AS notok_guide
             , !employee_checkup.notok_urge AS check_guide
             , employee_checkup.notok_updated_at
        FROM employee_checkup
                     JOIN employee
                ON employee_checkup.user_id = employee.user_id AND employee.deleted_at IS NULL AND employee.no_use = 0
                     JOIN company_checkup
                ON company_checkup.company_checkup_id = employee_checkup.company_checkup_id AND
                   company_checkup.deleted_at IS NULL
                     LEFT JOIN reservation ON employee_checkup.employee_checkup_id = reservation.employee_checkup_id AND
                                              (reservation.reservation_state != 0 OR reservation.confirmed_at IS NULL)
                     LEFT JOIN company_checkup_type
                ON employee_checkup.company_checkup_type_id = company_checkup_type.company_checkup_type_id
        WHERE reservation.reservation_state IS NULL
          AND employee_checkup.deleted_at IS NULL
          AND employee_checkup.support_type = 0
          AND employee.mobile IS NOT NULL
          AND company_checkup.company_checkup_id = #{companyCheckupId}
    </select>

    <insert id="insertNotitokUsSentCheckupInfo">
        INSERT INTO notitok_us_sent( message_id
        , sent_user_id
        , sent_at
        , message_type
        , employee_checkup_id
        , recv_name
        , mobile
        , mid
        , message
        , created_at
        , created_user_id)
        SELECT UUID_TO_BIN(#{messageId})
        , #{sessionUserId}
        , NOW()
        , 0
        , employee_checkup.employee_checkup_id
        , employee.employee_name
        , employee.mobile
        , 0
        , REPLACE(REPLACE(REPLACE(REPLACE(#{message},
        '\#{기업체명}', company.company_name),
        '\#{기업체코드}', company.company_code),
        '\#{검진시작일~검진마감일}', CONCAT(DATE(company_checkup.checkup_date_begin), '~',
        DATE(company_checkup.checkup_date_end))),
        '\#{예약마감일}', DATE(company_checkup.reserve_date_end))
        , NOW()
        , #{sessionUserId}
        FROM employee_checkup
        JOIN employee ON employee_checkup.user_id = employee.user_id
        JOIN company_checkup ON employee_checkup.company_checkup_id = company_checkup.company_checkup_id
        JOIN company
        ON employee.company_id = company.company_id AND company_checkup.company_id = company.company_id
        WHERE employee_checkup_id IN
        <foreach collection="voList" item="vo" open="(" close=")" separator=",">
            #{vo.employeeCheckupId}
        </foreach>
    </insert>

    <select id="selectNotitokUsSentCheckupInfo" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 0
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentCheckupInfo">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 0
          AND mid = 0
    </update>

    <insert id="insertNotitokUsSentUrge">
        INSERT INTO notitok_us_sent( message_id
        , sent_user_id
        , sent_at
        , message_type
        , employee_checkup_id
        , recv_name
        , mobile
        , mid
        , message
        , created_at
        , created_user_id)
        SELECT UUID_TO_BIN(#{messageId})
        , #{sessionUserId}
        , NOW()
        , 5
        , employee_checkup.employee_checkup_id
        , employee.employee_name
        , employee.mobile
        , 0
        , REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(#{message},
        '\#{임직원 이름}', AES_DECRYPT(UNHEX(employee_myself.employee_name), 'volk_ggsj.co.kr!')),
        '\#{검진자 이름}', AES_DECRYPT(UNHEX(employee.employee_name), 'volk_ggsj.co.kr!')),
        '\#{001001}', company.company_code),
        '\#{검진시작일~검진마감일}', CONCAT(DATE(company_checkup.checkup_date_begin), '~',
        DATE(company_checkup.checkup_date_end))),
        '\#{예약마감일}', DATE(company_checkup.reserve_date_end))
        , NOW()
        , #{sessionUserId}
        FROM employee_checkup
        JOIN employee ON employee_checkup.user_id = employee.user_id
        JOIN (SELECT employee_code, employee_name, CC.company_checkup_id FROM employee
        JOIN company C ON employee.company_id = C.company_id
        JOIN company_checkup CC ON C.company_id = CC.company_id
        WHERE employee.myself = 1 AND employee.deleted_at IS
        NULL) employee_myself ON employee.employee_code = employee_myself.employee_code AND employee_checkup.company_checkup_id = employee_myself.company_checkup_id
        JOIN company_checkup ON company_checkup.company_checkup_id = employee_checkup.company_checkup_id
        JOIN company ON employee.company_id = company.company_id AND company_checkup.company_id = company.company_id
        LEFT JOIN reservation ON employee_checkup.employee_checkup_id = reservation.employee_checkup_id AND
        (reservation.reservation_state != 0 OR reservation.confirmed_at IS NULL)
        WHERE reservation.reservation_state IS NULL
        AND employee_checkup.employee_checkup_id IN
        <foreach collection="voList" item="vo" open="(" close=")" separator=",">
            #{vo.employeeCheckupId}
        </foreach>
    </insert>

    <select id="selectNotitokUsSentUrge" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 5
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentUrge">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 5
          AND mid = 0
    </update>

    <insert id="insertNotitokUsSentReserveOffer">
        INSERT INTO notitok_us_sent( message_id
                                   , sent_user_id
                                   , sent_at
                                   , message_type
                                   , employee_checkup_id
                                   , recv_name
                                   , mobile
                                   , mid
                                   , message
                                   , created_at
                                   , created_user_id)
        SELECT UUID_TO_BIN(#{messageId})
             , #{sessionUserId}
             , NOW()
             , 1
             , reservation.employee_checkup_id
             , reservation.reservation_name
             , reservation.mobile
             , 0
             , REPLACE(REPLACE(REPLACE(REPLACE(#{message},
                                               '\#{고객명}', AES_DECRYPT(UNHEX(reservation.reservation_name), 'volk_ggsj.co.kr!')),
                                       '\#{병원명}', hospital_center_view.hospital_center_name),
                               '\#{병원전화번호}', sf_phone_hyphen(hospital_center_view.telephone)),
                       '\#{검진희망일}', DATE(reservation.desired_at))
             , NOW()
             , #{sessionUserId}
        FROM reservation
                     JOIN employee_checkup ON reservation.employee_checkup_id = employee_checkup.employee_checkup_id AND
                                              employee_checkup.notok_reserve = 0
                     JOIN checkup_contract_sub_type
                ON reservation.checkup_contract_sub_type_id = checkup_contract_sub_type.checkup_contract_sub_type_id
                     JOIN checkup_contract_type
                ON checkup_contract_sub_type.checkup_contract_type_id = checkup_contract_type.checkup_contract_type_id
                     JOIN hospital_center_view ON checkup_contract_type.center_id = hospital_center_view.center_id
        WHERE reservation_id = #{reservationId}
    </insert>

    <select id="selectNotitokUsSentReserveOffer" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 1
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentReserveOffer">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 1
          AND mid = 0
    </update>

    <insert id="insertNotitokUsSentReserveComplete">
        INSERT INTO notitok_us_sent( message_id
        , sent_user_id
        , sent_at
        , message_type
        , employee_checkup_id
        , recv_name
        , mobile
        , mid
        , message
        , created_at
        , created_user_id)
        SELECT UUID_TO_BIN(#{messageId})
        , #{sessionUserId}
        , NOW()
        , 2
        , reservation.employee_checkup_id
        , reservation.reservation_name
        , reservation.mobile
        , 0
        , REPLACE(REPLACE(REPLACE(REPLACE(#{message},
        '\#{고객명}', AES_DECRYPT(UNHEX(reservation.reservation_name), 'volk_ggsj.co.kr!')),
        '\#{병원명}', hospital_center_view.hospital_center_name),
        '\#{병원전화번호}', sf_phone_hyphen(hospital_center_view.telephone)),
        '\#{검진확정일}', DATE(reservation.desired_at))
        , NOW()
        , #{sessionUserId}
        FROM reservation
        JOIN employee_checkup ON reservation.employee_checkup_id = employee_checkup.employee_checkup_id AND
        employee_checkup.notok_reserve = 0
        JOIN checkup_contract_sub_type
        ON reservation.checkup_contract_sub_type_id = checkup_contract_sub_type.checkup_contract_sub_type_id
        JOIN checkup_contract_type
        ON checkup_contract_sub_type.checkup_contract_type_id = checkup_contract_type.checkup_contract_type_id
        JOIN hospital_center_view ON checkup_contract_type.center_id = hospital_center_view.center_id
        WHERE reservation_id IN
        <foreach collection="reservationIds" item="reservationId" open="(" close=")" separator=",">
            #{reservationId}
        </foreach>
    </insert>

    <select id="selectNotitokUsSentReserveComplete" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 2
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentReserveComplete">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 2
          AND mid = 0
    </update>

    <insert id="insertNotitokUsSentReserveChange">
        INSERT INTO notitok_us_sent( message_id
                                   , sent_user_id
                                   , sent_at
                                   , message_type
                                   , employee_checkup_id
                                   , recv_name
                                   , mobile
                                   , mid
                                   , message
                                   , created_at
                                   , created_user_id)
        SELECT UUID_TO_BIN(#{messageId})
             , #{sessionUserId}
             , NOW()
             , 3
             , reservation.employee_checkup_id
             , reservation.reservation_name
             , reservation.mobile
             , 0
             , REPLACE(#{message}, '\#{고객명}', AES_DECRYPT(UNHEX(reservation.reservation_name), 'volk_ggsj.co.kr!'))
             , NOW()
             , #{sessionUserId}
        FROM reservation
                     JOIN employee_checkup ON reservation.employee_checkup_id = employee_checkup.employee_checkup_id AND
                                              employee_checkup.notok_reserve = 0
        WHERE reservation_id = #{reservationId}
    </insert>

    <select id="selectNotitokUsSentReserveChange" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 3
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentReserveChange">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 3
          AND mid = 0
    </update>

    <insert id="insertNotitokUsSentReserveCancel">
        INSERT INTO notitok_us_sent( message_id
                                   , sent_user_id
                                   , sent_at
                                   , message_type
                                   , employee_checkup_id
                                   , recv_name
                                   , mobile
                                   , mid
                                   , message
                                   , created_at
                                   , created_user_id)
        SELECT UUID_TO_BIN(#{messageId})
             , #{sessionUserId}
             , NOW()
             , 4
             , reservation.employee_checkup_id
             , reservation.reservation_name
             , reservation.mobile
             , 0
             , REPLACE(REPLACE(REPLACE(#{message},
                                       '\#{고객명}', AES_DECRYPT(UNHEX(reservation.reservation_name), 'volk_ggsj.co.kr!')),
                               '\#{병원명}', hospital_center_view.hospital_center_name),
                       '\#{검진희망일}', DATE(reservation.desired_at))
             , NOW()
             , #{sessionUserId}
        FROM reservation
                     JOIN employee_checkup ON reservation.employee_checkup_id = employee_checkup.employee_checkup_id AND
                                              employee_checkup.notok_reserve = 0
                     JOIN checkup_contract_sub_type
                ON reservation.checkup_contract_sub_type_id = checkup_contract_sub_type.checkup_contract_sub_type_id
                     JOIN checkup_contract_type
                ON checkup_contract_sub_type.checkup_contract_type_id = checkup_contract_type.checkup_contract_type_id
                     JOIN hospital_center_view ON checkup_contract_type.center_id = hospital_center_view.center_id
        WHERE reservation_id = #{reservationId}
    </insert>

    <select id="selectNotitokUsSentReserveCancel" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 4
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentReserveCancel">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 4
          AND mid = 0
    </update>

    <insert id="insertNotitokUsSentFind">
        # NotitokMapper.insertNotitokUsSentFind
                INSERT INTO notitok_us_sent( message_id
                                           , sent_user_id
                                           , sent_at
                                           , message_type
                                           , employee_checkup_id
                                           , recv_name
                                           , mobile
                                           , mid
                                           , message
                                           , data
                                           , created_at
                                           , created_user_id)
                VALUES ( UUID_TO_BIN(#{messageId})
                       , 1
                       , NOW()
                       , 6
                       , #{employeeCheckupId}
                       , #{employeeName}
                       , #{mobile}
                       , 0
                       , #{message}
                       , #{data}
                       , NOW()
                       , 1)
    </insert>

    <select id="selectNotitokUsSentFind" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 6
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentFind">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 6
          AND mid = 0
    </update>

    <insert id="insertNotitokUsSentFindPw">
        # NotitokMapper.insertNotitokUsSentFindPw
                INSERT INTO notitok_us_sent( message_id
                                           , sent_user_id
                                           , sent_at
                                           , message_type
                                           , employee_checkup_id
                                           , recv_name
                                           , mobile
                                           , mid
                                           , message
                                           , data
                                           , created_at
                                           , created_user_id)
                VALUES ( UUID_TO_BIN(#{messageId})
                       , 1
                       , NOW()
                       , 6
                       , #{employeeCheckupId}
                       , #{employeeName}
                       , #{mobile}
                       , 0
                       , #{message}
                       , #{data}
                       , NOW()
                       , 1)
    </insert>

    <select id="selectNotitokUsSentFindPw" resultMap="mapNotitokSent">
        SELECT notitok_us_sent_id,
               sent_user_id,
               sent_at,
               message_type,
               employee_checkup_id,
               recv_name,
               mobile,
               mid,
               message,
               created_at,
               created_user_id
        FROM notitok_us_sent
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 6
          AND mid = 0
    </select>

    <update id="updateNotitokUsSentFindPw">
        UPDATE notitok_us_sent
        SET mid = #{mid}
        WHERE message_id = UUID_TO_BIN(#{messageId})
          AND message_type = 6
          AND mid = 0
    </update>

    <select id="notitokCheck" resultMap="mapNotitokSent">
        # NotitokMapper.notitokCheck
        SELECT e.employee_code,
               c.company_name,
               c.created_at,
               ntt.sent_at
        FROM notitok_us_sent ntt
                     JOIN employee_checkup ec on ntt.employee_checkup_id = ec.employee_checkup_id
                     JOIN employee e on ec.user_id = e.user_id
                     JOIN company c on e.company_id = c.company_id
        WHERE ntt.recv_name = #{recvNameCrypt}
          AND ntt.mobile = #{mobile}
          AND ntt.data = #{data}
    </select>

    <select id="checkDataPw" resultMap="mapNotitokSent">
        # NotitokMapper.checkDataPw
                SELECT e.employee_code,
                       c.company_name,
                       e.user_id,
                       c.company_id,
                       e.birth,
                       e.mobile,
                       e.employee_no
                FROM notitok_us_sent ntt
                             JOIN employee_checkup ec on ntt.employee_checkup_id = ec.employee_checkup_id
                             JOIN employee e on ec.user_id = e.user_id
                             JOIN company c on e.company_id = c.company_id
                WHERE e.employee_code = #{employeeCode}
                  AND ntt.recv_name = #{recvNameCrypt}
                  AND ntt.mobile = #{mobile}
                  AND ntt.data = #{data}
    </select>
</mapper>
